fastapi
uvicorn
pydantic
sqlalchemy
databases
python-jose[cryptography]
passlib[bcrypt]
PyJWT
python-decouple
python-multipart

fastapi
uvicorn
pandas
numpy
spotipy
scikit-learn
python-dotenv
matplotlib
spotipy
scikit-image
ipython
