
.create-playlist-container {
    width: 100%;
    height: 100%;
    margin: 3% 1%;
}

.create-playlist-container h1 {
    background: #386cbb;
    height: 70px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding-left: 5%;
    color: #c7ecf7;
    margin-bottom: 0;
    width: 90%;
}

.create-playlist-body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-playlsit-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 90%;
    background: #8fafdf;
    padding-bottom: 2%;
    border: #202bf6;
}

.create-playlist-container Form {
    width: 100%;
}

.create-playlist-container Form div {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    padding: 20px;
    gap: 5%;
}


.create-playlist-container Form Label {
    font-weight: bold;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    padding-top: 5px;
    padding-left: 50px;
    width: 30%;
    font-size: 18px;
}

.create-playlist-container Form .form-control {
    margin-right: 50px;
    padding: 10px;
    width: 100%;
}

.create-playlist-container Form .btn {
    background-color: rgb(10, 35, 160);
    max-width: 66.5%;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 22%;
}

.create-playlist-container Form .btn:hover {
    background-color: rgba(22, 139, 212, 0.8);
}

.add-tracks-container{
    width: 90%;
    background: #386cbb;
    padding: 3% 2%;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.add-tracks-search-btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
    padding-bottom: 20px;
}

.add-tracks-search-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background: #fff;
    border-radius: 5px;
}

.add-tracks-search-box .add-tracks-search-list {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.add-tracks-search-box  .add-tracks-div-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
    padding-top: 10px;
    padding-left: 30px;
    background: #6b98db;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.add-tracks-search-box  .add-tracks-div-header p {
    color: #000;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.add-tracks-search-box .add-track-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    cursor: pointer;
    height: 80px;
}

.add-tracks-search-box .add-track-div:checked {
    background-color: #7ddba5;
}

.add-tracks-search-box .add-track-div:nth-child(odd) {
    background: #b5caf0;
}

.add-tracks-search-box .add-track-div:nth-child(even) {
    background: #d9e3f5;
}

.add-tracks-search-box .add-track-div:hover {
    background: #5581e0;
    transition: .2s ease-in-out;
}

.add-tracks-search-box .numbering {
    font-size: 15px;
    font-weight: 500;
}

.add-tracks-search-box .add-tracks-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.add-tracks-search-box .add-tracks-list p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}