/* Draggable Music Icon */
.player-icon {
    position: fixed;
    background: #343a40;
    color: white;
    border-radius: 50%;
    cursor: grab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .player-icon:hover {
    background: #495057;
  }
  
  /* Music Player Box */
  .music-player {
    position: fixed;
    background: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  @media (max-width: 1179px) {
    /* will according to the current width move left to let it not overflow the window */
  }