
.player-container {
    width: calc(100%);
    height: 100%;
    background-color: #1e2a3e;
    opacity: 1;
    display: flex;
}

.left-player-body {
    width: 68%;
    margin-right: 2%;
    height: 100%;
}

.right-player-body {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width: 1000px) {
    .left-player-body {
        width: 100%;
        margin-right: 0;
    }

    .right-player-body {
        width: 100%;
        margin-top: 1rem;
    }

    .player-container {
        flex-direction: column;
        height: auto;
    }
}
